/* Keyframe to define the spinning animation */
@keyframes spin {
      0% {
            transform: rotate(0deg);
      }
      100% {
            transform: rotate(360deg);
  }
}

html, body{
    height: 100%;
    width: 100%;
    background: #a5e3ca;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    font-family: Calibri, serif;
}



h2 {
    font-size: 2em;
}




/* Apply the spin animation to the image */
.main-profile-pic {
    width: 6em; /* Adjust size as needed */
    height: auto;
    animation: spin 9s linear infinite; /* 2 seconds for one full rotation */
    padding: 1em;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: black solid 2px;
    width: 100%;
    padding: 2em;
    background-color: #8d80e7;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.name-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.my-links * {
    height: 2em;
}

.name-area h1 {
    font-size: 4em;
}

.resume-download {
    border: 1px solid black;
    padding: 1em;
    background-color: mediumpurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    text-decoration: none;
    color: black;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b6c1c3;
    width: 100%;
    padding: 2em;
    border-top: black solid 2px;
}

.about-me {
    width: 40%;
}

p {
    padding: 2em;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
}

.projects ul {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.projects ul li {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid black;
    gap: 1em;
    background-color: #c3afff;
}
.projects .project-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    font-family: "Malgun Gothic", cursive;
}

.projects .project-lower-details {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.projects ul li img {
    width: 12em;
}

.projects ul li .project-links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.projects ul li .project-links a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid black;
    padding: 0.5em;
    color: #292828;
}

.about-projects {
}