html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: #8ba5b1;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.size-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 30px;
}

.chalkboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #f2e5ff;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    width: max-content;
}

.block {
    background-color: gainsboro;
    height: 6px;
    width: 6px;
    margin: 0;
}



button {
    border-style: solid;
    padding: 9px;
    border-radius: 15px;
    background-color: #f1ad9d;
    border-width: 0;
}